html,body{
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #ffffff;
}

body {
  font: 400 15px/1.8 Lato, sans-serif;
  color: #555555;
  line-height: 16px;
}

img{
  max-width: 100%;
}

form{
  display: block;
  margin: 0px;
  padding: 0px;
}

div{
  display: block;
}

input{
  -webkit-appearance: none;
  vertical-align: top;
  height: 24px;
  line-height: 16px;
  font-size: 13px;
  padding: 4px;
  border: 1px solid #ccc;
  display: inline-block;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06) inset;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06) inset;
}

.wrapper{
  margin: 0 auto;
  width: 966px;
  padding: 0 15px;
  background: transparent;
}

.nav{
  position: relative;
  border-bottom: 1.5px solid #ddd;
  border-top:  1.5px solid #ddd;
}

.page{
  margin-top: 20px;
  display: block;
}

.heading{
  margin-top: 2.5px;
  font-weight: 400;
}

.page-heading{
  margin: 22.5px 0 25px 0;
}

.gallery-item{
  width: 31%;
  height: 186px;
  overflow: hidden;
  margin-left: 18px;
  margin-bottom: 18px;
  display: block;
  float: left;
}

.span12, .span4, .span8{
  display: block;
  float: left;
}

.span12{
  width: 100%;
}
.span4{
  margin: 0 auto;
  width: 33%;
}
.span8{
  margin-left: 25px;
  width: 60%;
}

ul{
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  float: none !important;
  display:inline-block !important;
}

li a {
  font: 400 16px/1.8 Lato, sans-serif;
  display: block;
  color: #888;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: #111;
  text-decoration: none;
}

#page-with-contact-form{
  display: block;
}

#contactFormWrapper{
  display: block;
}

.slider{
  padding-top: 10px;
}

.animate-fading{
  animation:fading 10s infinite
}
@keyframes fading
{0%{opacity:0}50%{opacity:1}100%{opacity:0}}

@media only screen and (max-width: 1026px) and (min-width: 768px)
{
.wrapper {
    width: 738px;}
.gallery-item{
    height: 142px;}
}

@media only screen and (max-width: 629px) and (min-width: 510px)
{
.wrapper {
    width: 450px;}
.gallery-item{
  height: 142px;}
}
